set scrolloff=8
set incsearch
set relativenumber
set clipboard+=unnamed
set easymotion
set surround

map <space> <nop>
let mapleader=" "
map <leader>w :w<cr>
map <leader>o o<esc>k
map <leader>c :bd<cr>
map <leader>h :nohl<cr>
map <leader>s <Plug>(easymotion-s)
map Y y$
map <C-d> <C-d>zz
map <C-u> <C-u>zz

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
