Plug 'preservim/nerdtree'

"" Plugins
set easymotion
set sneak
set surround
set NERDTree

"" Vim handlers
sethandler <C-d> a:vim
sethandler <C-u> a:vim
sethandler <C-e> a:vim
sethandler <C-y> a:vim
sethandler <C-[> a:vim
sethandler <C-a> a:vim
sethandler <C-M-s> a:vim
sethandler <C-M-v> a:vim
sethandler <C-v> a:vim
sethandler <C-n> a:vim
sethandler <C-p> a:vim
sethandler <C-r> a:vim

sethandler <M-s> a:vim
sethandler <M-v> a:vim
sethandler <M-u> a:vim
sethandler <M-h> a:vim
sethandler <M-l> a:vim
sethandler <M-C-s> a:vim
sethandler <M-C-v> a:vim
sethandler <M-q> a:vim

"" Ide handlers
sethandler <C-t> a:ide
sethandler <C-i> a:ide
sethandler <C-h> a:ide
sethandler <C-l> a:ide
sethandler <C-g> a:ide
sethandler <C-f> a:ide


"" Settings
set scrolloff=10
set incsearch
set relativenumber
set clipboard+=unnamed
set showmode
set ideajoin

set guicursor=a:block
set guicursor+=i:hor20

"" Apperance
set highlightedyank
let g:highlightedyank_highlight_duration = "100"

"" Leader Mappings
nmap <space> <nop>
let mapleader=" "
nmap <leader>w :w<cr>
nmap <leader>h :nohl<cr>
nmap <leader>y "ay
nmap <leader>Y "ay$
nmap <leader>d "ad
nmap <leader>D "aD
nmap <leader>c "ac
nmap <leader>C "aC
nmap <leader>p "ap
nmap <leader>P "aP
nmap <leader>cl :source ~/.ideavimrc<cr>

vnoremap <leader>y "ay
vnoremap <leader>d "ad

"" Mappings
nmap Y y$
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
nmap zj o<esc>k
nmap zk O<esc>j
vnoremap < <gv
vnoremap > >gv

"" Actions Mappings
nmap <M-h> <Action>(PreviousTab)
nmap <M-l> <Action>(NextTab)
nmap <M-C-s> <Action>(SplitHorizontally)
nmap <M-C-v> <Action>(SplitVertically)
nmap <M-s> <Action>(MoveTabDown)
nmap <M-v> <Action>(MoveTabRight)
nmap <M-u> <Action>(Unsplit)
nmap <M-q> <Action>(CloseEditor)
nmap gh <Action>(QuickJavaDoc)

nmap <leader>f <Action>(ReformatCode)
nmap <leader>ej <Action>(SurroundWithEmmet)
nmap <leader>m <Action>(EditorMatchBrace)
